a{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

.header{
    width: 100%;
    height: 95px;
    margin-bottom: 15px;
}

.logo-search{
    width: 100%;
    height: 65px;
}

.logo{
    margin-left: 40px;
    float: left;
    font-family: sans-serif;
}

.logo h2{
    color: darkred;
    margin-bottom: -20px;
    margin-top: -5px;
    text-align: center;
}
.logo h5{
    color: darkgray;
    font-weight: 100;
}

.input{
    float: right;
}

.button{
    border-radius:  3px;
    border: 1px solid #666;
    font: caption;
    font-size: small;
    padding: 5px 20px 5px 20px;
}

.menu {
    background-color: darkgray;
    width: 100%;
    height: 40px;
}

.menu div{
    float: left;
    padding: 10px;
    margin-right: 10px;
    width: 10%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: small;
}

.news{
    background: dimgrey;
    width: 100%;
    height: 340px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 15px;
}
.news div{
    float: left;
    padding: 10px;
    margin-left: 10px;
    width: 45%;
}

.video{
    text-align: center;
    background: dimgrey;
}

.blocks{
    clear: both;
    width: 100%;
    font-family: sans-serif;
}

.col{
    float: left;
    background: lightgray;
    padding-left: 10px;
    padding-right: 10px;
    width: 31%;
    margin-bottom: 20px;
}

.left,
.middle{
    margin-right: 10px;
}

 p{
    font-size: small;
}

.footer {
    clear: both;
    color: dimgrey;
    height: 25px;
    font-family: sans-serif;

    font-size: small;
    text-align: center;
}

.footer-menu div{
    float: left;
    width: auto;
    border-right: solid 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.footer a{
    color: dimgrey;
}
.copy{
    float: right;
    margin-right: 10px;

}

